@tailwind base;

@import url("https://use.typekit.net/ynr8vis.css");

/* purgecss start ignore */

body {
  --swiper-theme-color: theme('colors.primary.DEFAULT');
  --swiper-navigation-color: theme('colors.primary.DEFAULT');
  --e-global-typography-primary-font-family: theme('fontFamily.termina') !important;
  --e-global-typography-text-font-family:puffin-display-soft, sans-serif !important;
  --e-global-typography-primary-font-weight: 700 !important;
  font-family:puffin-display-soft, sans-serif !important;

  min-height: 100vh;
  &.admin-bar {
    min-height: calc(100vh - 68px);
  }
}

p {
  margin-bottom: 1.5rem;
  margin-top: .5rem;
}

ion-icon {
  vertical-align: middle;
}

* {
  text-underline-offset: .3em;
}

h1 {
  @apply text-3xl md:text-5xl;
}

h2 {
  @apply text-2xl md:text-4xl mb-6;
}

h3 {
  @apply text-xl md:text-3xl mb-5;
}

nav a {
  text-decoration: none !important;
  & > img {
    display: inline ;
  }
}

h1, h2, h3, h4 {
  font-weight: 500;
}

@media (min-width: 1200px) {
  .site-header, body:not([class*=elementor-page-]) .site-main {
    max-width: 1140px !important;
  }
}


.termina,
.elementor-heading-title, .termina .elementor-heading-title {
  font-family: termina, serif !important;
}

.impact-item {
  border-bottom: 1px solid var(--e-global-color-secondary);
  margin-bottom: 5px !important;
}

.impact-heading {
  margin: 10px 0 0;
  font-size: 2em;
  font-weight: 700;
  line-height: 1;
  color: var(--e-global-color-primary);
}

.impact-label {
  margin: 5px 0 10px !important;
  font-size: 1.4em;
  line-height: 1;

}

.mb-0 p {
  margin-bottom: 5px !important;
}

h1 {
  padding: 0 0 .6em 0 !important;
}

.campidiscipinari {
  /*padding: 1.5em 1em 1em ;*/
  /*border-radius: 15px;*/
  /*background-color: var(--e-global-color-primary);*/
  /*transition: all 300ms ease;*/
  /*margin: auto;*/
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.25);
}

@media (min-width: 1000px) {
  /*.campidiscipinari {*/
  /*    width: 80%;*/
  /*}*/
  .home .campidiscipinari {
    width: 60%;
  }
}

.campidiscipinari:hover {
  /*background-color: #9c136c;*/
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}

.campidiscipinari img {
  /*width: 80%;*/
  /*display: block;*/
  /*margin: auto;*/
}

.campidiscipinari .label {
  /*text-align: center;*/
  /*color: white;*/
  /*font-size: 1em;*/
  line-height: 1;
  /*padding-top: 1.4em;*/
  /*font-weight: 700;*/
  text-decoration: none;
  /*margin: 0 !important;*/
}

.team-member {

  .elementor-widget {
    @apply w-2/3 md:w-full;
  }
  .elementor-widget:first-child {
    margin-bottom: 0;
    @apply w-1/3 md:w-full;
  }
  .elementor-widget-text-editor {
    text-align: center;
  }

  .elementor-widget-wrap {
    flex-direction: row;
  }

  .elementor-widget-text-editor h4 {
    font-size: 1.2em;
    line-height: 1.15;
    font-weight: 500;
    margin: 0.3em 0 !important;
  }

  .elementor-widget-text-editor .label {
    font-size: 14px;
  }

  img {
    max-height: 100%;
    min-width: 100%;
    padding: 1rem;
    object-fit: cover;
    aspect-ratio: 1;
  }
  @media screen  and  (max-width: theme('screens.md')){
    .elementor-widget-text-editor {
      display: flex;
      align-items: center;
      br {
        display: none;
      }
      p {
        margin-bottom: 0 !important;
      }

      text-align: left;
    }
  }
}

.lead {
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.1;
}

.lead p, .mb-0 p {
  margin-bottom: 0 !important;
}

.marquee {
  @apply whitespace-nowrap;
  color: transparent !important;
  /*white-space: nowrap;*/
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--e-global-color-primary);
  animation: marquee 25s linear alternate infinite;
}

.marquee h2 {
  color: transparent !important;
  font-size: 5em;

}

@keyframes marquee {
  to {
    transform: translateX(-60%);
  }
  from {
    transform: translateX(0);
  }
}

.custom-logo {
  max-width: 40%
}

.section-padding,
.section-padding-top {
  padding-top: 2em;
}

.section-padding,
.section-padding-bottom {
  padding-bottom: 2em;
}

.project-name {
  @apply font-termina text-primary mb-0 font-bold text-3xl;
}

.project-label {
  @apply text-sm mt-0;
}

.project-descr {
  margin-bottom: 0 !important;
}

.clip1 {
  border-radius: 3em 3em 0 3em;
  overflow: hidden;
}

.clip2 {
  border-radius: 3em 3em 3em 0;
  overflow: hidden;
}

.clip3 {
  border-radius: 3em 0 3em 3em;
  overflow: hidden;
}

.clip4 {
  border-radius: 0 3em 3em 3em;
  overflow: hidden;
}

.clip5 {
  border-radius: 0 3em 0 3em;
  overflow: hidden;
}

.clip6 {
  border-radius: 3em 0 3em 0;
  overflow: hidden;
}

:is(.clip1, .clip2, .clip3, .clip4, .clip5, .clip6) img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}


#site-footer {
  display: none;
}

.footer {
  font-size: .85em;
  color: #715869;
}

.footer a {
  text-decoration: none;
  color: inherit;
}

.footer ul {
  list-style: none;
  padding-left: 0;
  column-count: 2;
}

.footer ul a {
  font-weight: 300;
}

.footer :nth-child(4) img {
  /*width: 100%;*/
}

.swiper {
  @apply pb-6 md:pb-8;
}

.hoc-projects-swiper .swiper-slide {


  box-shadow: 0 0 2px 1px rgba(173, 21, 120, 1);
}


.hoc-news-swiper :where(.swiper-button-next, .swiper-button-prev) {
  background-image: none !important;
}

@layer base {

  main {

    a {
      @apply text-primary hover:text-primary-dark;
    }

    ul {
      @apply pl-8 pb-2;
      list-style: initial;

      li {
        @apply pb-2;
      }
    }


  }

}

article .elementor > .elementor-section-wrap > section {
  padding-top: 0 !important;

  & > .elementor-column-gap-default > .elementor-column > .elementor-element-populated {
    padding: 0 !important;
  }
}

/* purgecss end ignore */

@tailwind components;
@tailwind utilities;

